<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-danger-subtle" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MozartShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/index">Home</a>
        </li>

        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/order">Make a order</a></li>
            <li><a class="dropdown-item" href="/my-orders">My orders</a></li>
          </ul>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" aria-current="page" href="/product">Add Product</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" aria-current="page" href="/category">Add Category</a>
        </li>
      </ul>



      <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">
        <i class="fas fa-sign-in-alt"></i>
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/register">
        <i class="fas fa-user-plus"></i>
      </a>


      <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">
        <i class="fas fa-sign-in-alt"></i>
      </a>

    </div>
  </div>
  <style>
    .navbar {
      background: linear-gradient(135deg, #ff6b6b, #1d1b49);
    }
    .navbar a.navbar-brand {
      color: #FFFFFF;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .navbar a.nav-link {
      color: #FFFFFF;
      font-size: 1rem;
    }
    .navbar-toggler-icon {
      background-color: #FFFFFF;
    }
  </style>
</nav>


</body>
</html>